<h1>Attribution</h1>

<p>Our thanks to everyone who has helped Questionr with Creative Commons licensed content and shared technologies.</p>

<h2>Website</h2>
<p>
  • Software development by <%= link_to 'Chris Bucchere', 'https://github.com/bucchere/nhr-questioner', target: '_blank' %><br/>
  • Bootswatch theme by <%= link_to 'Thomas Park', 'https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE', target: '_blank' %><br/>
</p>

<h2>Events</h2>
<p>
  • Events in New Hampshire and Iowa from <%= link_to 'American Friends Service Committee', 'http://gui.afsc.org', target: '_blank' %>
</p>

<h2>Photos</h2>
<p>
  • Most candidate photos from public domain<br/>
  • White House photo by Daniel Zimmermann, <%= link_to 'CC BY 2.0', 'https://creativecommons.org/licenses/by/2.0/', target: '_blank' %><br/>
  • George Pataki photo by Christopher Peterson, <%= link_to 'CC BY-SA 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/deed.en', target: '_blank' %><br/>
  • Carly Fiorina, Rick Perry, Donald Trump, Jim Gilmore photos by Gage Skidmore, <%= link_to 'CC BY-SA 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/deed.en', target: '_blank' %><br/>
</p>