<%= form_for(@event_day, html: { class: "form-horizontal" }) do |f| %>
  <% if @event_day.errors.any? %>
		<div class="alert alert-dismissible alert-danger col-lg-12">
	  	<button type="button" class="close" data-dismiss="alert">×</button>
      <ul>
      <% @event_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well bs-component col-lg-6">
	  <fieldset>
	    <legend>Event Day</legend>
	    <div class="form-group">
        <label class="col-lg-3 control-label">Sync ID</label>
        <div class="input-group col-lg-8">
          <%= f.number_field :rwu_id, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :event_id, class: "col-lg-3 control-label" %>
        <div class="input-group col-lg-8">
    		<%= f.select :event_id, 
    				content_tag(:option, '-- No Event --', 
    										:value => -1) + options_from_collection_for_select(Event.all, 
      																																			:id, 
      																																			:title, 
      																																			@event_day.event_id),
      																																			{}, { class: "form-control" } %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :date, class: "col-lg-3 control-label" %>
        <div class="input-group col-lg-8" id="event-day-date">
					<%= f.text_field :date, 
            value: @event_day.date ? @event_day.date.strftime('%m/%d/%Y') : '', 
            class: "datepicker form-control", 
            placeholder: "Date",
            disabled: (@event_day.date_sync? and !@event_day.date_dirty?) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          <% if @event_day.date_sync? and !@event_day.date_dirty? %>
            <a href="#" 
              id="event_day_date_lock" 
              class="lock"
              onclick="enableField('#event_day_date_lock', '#event_day_date')">&#128274;</a>
          <% end %>
          </span>
        </div>
      </div>      
      <div class="row form-group">
        <label class="col-lg-3 control-label">Starts (<%=AMERICA_NEW_YORK_TIME_ZONE.abbr%>)</label>
        <div class="input-group col-lg-8" id="event-day-start-time">
					<%= f.text_field :start_time, 
            value: @event_day.start_time ? @event_day.start_time.in_time_zone(AMERICA_NEW_YORK_TIME_ZONE).strftime('%I:%M %P') : '',
            class: "form-control", 
            placeholder: "Start Time",
            disabled: (@event_day.start_time_sync? and !@event_day.start_time_dirty?) %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          <% if @event_day.start_time_sync? and !@event_day.start_time_dirty? %>
            <a href="#" 
              id="event_day_start_time_lock" 
              class="lock"
              onclick="enableField('#event_day_start_time_lock', '#event_day_start_time')">&#128274;</a>
          <% end %>
          </span>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-lg-3 control-label">Ends (<%=AMERICA_NEW_YORK_TIME_ZONE.abbr%>)</label>
        <div class="input-group col-lg-8" id="event-day-end-time">
					<%= f.text_field :end_time, value: @event_day.end_time ? @event_day.end_time
            .in_time_zone(AMERICA_NEW_YORK_TIME_ZONE).strftime('%I:%M %P') : '',
             class: "form-control", placeholder: "End Time"%>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
	    <div class="row form-group">
	      <div class="col-lg-8 col-lg-offset-3">
	  	  	<%= link_to 'Cancel', event_days_path, class: "btn btn-default" %>
		  	  <%= f.submit 'Save', class: "btn btn-primary" %>
		    </div>
			</div>
    </fieldset>
  </div>
<% end %>
<script>
  $('#event-day-date').datetimepicker({
		format: 'MM/DD/YYYY'
  });
  $('#event-day-start-time').datetimepicker({
		format: 'LT'
  });
  $('#event-day-end-time').datetimepicker({
		format: 'LT'
  });
  function enableField(a, id) {
    if (confirm("If you unlock this field, it will no longer get synchronized automatically. Are you sure you wish to make this a manually-edited field?")) {
      $(a).css('display', 'none');
      $(id).prop('disabled', false);
    }
  }  
</script>