<p id="notice"><%= notice %></p>

<p>
  <strong>RepsWithUs ID:</strong>
  <%= @person.rwu_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @person.nickname %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @person.suffix %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
