<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="page-header">
	<h2>Statements</h2>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Campaign</th>
      <th>Candidate</th>
      <th>Event</th>
      <th>User</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.title %></td>
        <td><%= statement.campaign_name %></td>
        <td><%= statement.candidate_name %></td>
        <td><%= statement.event_name %></td>
        <td><%= statement.user_name %></td>
        <td><%= statement.approved %></td>
        <td><%= link_to 'Show', statement, class: 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Edit', edit_statement_path(statement), class: 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Statement', new_statement_path, class: "btn btn-primary" %>
