<% if notice || alert %>
<div class="alert alert-dismissible alert-<%=notice ? 'success' : 'danger'%> col-lg-12">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= notice || alert %>
</div>
<% end %>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <div class="panel-title"><h1 style="color:white">1. Find a Candidate</h1></div>
	  </div>
	  <div class="panel-body">
			<p>We're traking where candidates are appearing so you can talk to them.</p>
			<p>Search by city, state, zip code or candidate name.</p>
      <form method="get" action="search">
        <input name="q" type="text" class="form-control" style="margin-bottom:10px" placeholder="12345 or name"/>
 		    <input type="submit" value="Search" class="col-lg-offset-4 col-lg-4 btn btn-info"/>
      </form>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <div class="panel-title"><h1 style="color:white">2. Ask the Question</h1></div>
		</div>
	  <div class="panel-body">
			<p>At the candidate event, find a good spot to ask the question and set up to record. When 
        the time comes, start your video or audio recording, and ask the candidate:</p>
      <h3>&ldquo;What specific reforms will you advance to end the corrupting influence of money in politics?&rdquo;</h3>
      <a class="col-lg-offset-3 col-lg-7" target="_blank" href="https://youtu.be/yuGTg2CLwPc">&ldquo;Ask the Question&rdquo; Guide</a>
	  </div>  
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <div class="panel-title"><h1 style="color:white">3. Share the Answer</h1></div>
		</div>
	  <div class="panel-body">
			<div class="col-lg-12">
        <p>Kickstarter mixtape Vice XOXO, slow-carb vegan organic cray Thundercats tofu Williamsburg before they sold out.</p>
  			<button type="button" class="col-lg-offset-4 col-lg-4 btn btn-success" data-toggle="modal" data-target="#upload_modal">
  				Upload
  			</button>
      </div>
			<div class="col-lg-12">
  			<p>Crucifix roof party swag retro master cleanse wolf, polaroid sustainable mixtape Tumblr.</p>
  			<button type="button" class="col-lg-offset-4 col-lg-4 btn btn-warning" data-toggle="modal" data-target="#tip_modal">
  				Tip
  			</button>
      </div>
	  </div>
	</div>
</div>
<h1 class="col-lg-12">The Answers</h1>
<%= render 'videos', videos: Statement.approved %>
<%= render 'modal', modal_id: "upload_modal", modal_title: "Share Video or Audio", steps: [1,2,3] %>
<%= render 'modal', modal_id: "tip_modal", modal_title: "Share a Tip", steps: [1,2] %>