<% if notice || alert %>
<div class="alert alert-dismissible alert-<%=notice ? 'success' : 'danger'%> col-lg-12">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= notice || alert %>
</div>
<% end %>

<style>
  div.tryptic-large { 
    background: url('<%= image_path "whitehouse.png" %>');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 0 !important;
    margin-bottom: 0 }
  div.tryptic-small { color: #fff; margin-bottom: 0; border-radius: 0 !important }
  div.tryptic-search { color: #fff; background-color: #e43725 }
  div.tryptic-answer { color: #fff; background-color: #3498db }
</style>

<div class="row">
  <div class="col-lg-8 jumbotron tryptic-large">
    <h3 style="padding-left: 30px">We demand every presidential candidate answer <u>one</u> question:</h3>
    <ol style="visibility:hidden;"><li>&nbsp;</li></ol>
    <h1 style="padding-left: 30px; text-indent: -30px">&ldquo;What specific reforms will you advance to end the corrupting influence of money in politics?&rdquo;</h1>
    <a class="pull-right" target="_blank" href="https://youtu.be/yuGTg2CLwPc">How to question the candidates</a>
    <ol class="col-lg-12"style="visibility:hidden;">
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    </ol>
  </div>
  <div class="col-lg-4 jumbotron tryptic-small tryptic-search">
    <h3 class="col-lg-12">Find&nbsp;candidates&nbsp;to&nbsp;question</h3>
    <form class="col-lg-12" method="get" action="search">
      <ol style="visibility:hidden;"></ol>
      <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Candidate name, city, state, zip"/>
        <span class="input-group-btn">
          <input type="submit" value="Search" class="btn btn-default"/>
        </span>
      </div>
    </form>
    <ol class="col-lg-12" style="visibility:hidden;">
      <li>&nbsp;</li>
    </ol>
  </div>
  <div class="col-lg-4 jumbotron tryptic-small tryptic-answer">
    <h3 class="col-lg-12">Share candidate answers</h3>
    <p class="col-lg-12">Do this to save the world. This is critically important so we can stop XYZ. Make a difference.</p>
  	<div class="col-lg-12">
      <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#upload_modal">
        Share the answers
  	  </button>
    </div>
    <ol class="col-lg-12" style="visibility:hidden;">
      <li>&nbsp;</li>
    </ol>
  </div>
</div>
<h1 class="col-lg-12">The Answers</h1>
<%= render 'videos' %>
<%= render 'modal', modal_id: "upload_modal", modal_title: "Share Video or Audio", steps: [1,2,3] %>
<%= render 'modal', modal_id: "tip_modal", modal_title: "Share a Tip", steps: [1,2] %>