<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h1 class="panel-title">1. Find a Candidate</h3>
	  </div>
	  <div class="panel-body">
			<p>Fanny pack Helvetica distillery, chambray letterpress before they sold out 
				migas craft beer Blue Bottle Austin. Heirloom American Apparel fanny pack 
				umami Brooklyn four loko.</p>
	     <input type="text" value="name or postal code" class="form-control" style="margin-bottom:10px"/>
			 <input type="button" value="Search" class="col-lg-offset-7 col-lg-5 btn btn-info"/>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">2. Ask the Question</h3>
	  </div>
	  <div class="panel-body">
			<p>Art party normcore actually, Vice distillery PBR&B readymade. Single-origin 
				coffee before they sold out church-key Bushwick, pug vegan freegan irony 
				meggings heirloom. Shoreditch tofu tattooed cred fashion axe +1 plaid food truck.</p>
				<a class="col-lg-offset-7 col-lg-5" target="_blank" href="https://youtu.be/yuGTg2CLwPc">How To Video</a>
	  </div>
	</div>
</div>

<div class="col-lg-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">3. Share</h3>
	  </div>
	  <div class="panel-body">
			<p>Kickstarter mixtape Vice XOXO, slow-carb vegan organic cray Thundercats tofu Williamsburg before they sold out.</p>
			<button type="button" class="col-lg-offset-5 col-lg-7 btn btn-success" data-toggle="modal" data-target="#upload_modal">
				Upload
			</button>
			<p>Crucifix roof party swag retro master cleanse wolf, polaroid sustainable mixtape Tumblr.</p>
			<button type="button" class="col-lg-offset-5 col-lg-7 btn btn-warning" data-toggle="modal" data-target="#tip_modal">
				Tip
			</button>
	  </div>
	</div>
</div>

<style>fieldset { margin-top: 30px }</style>
<%= form_for @user, html: { class: "col-lg-12 form-horizontal" } do |f| %>
<div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="upload_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="upload_title">Share Video or Audio</h2>
			</div>
      <div class="modal-body">
				<em class="col-lg-12">By sharing with Questionr, you grant us permission to edit and distribute your content.</em>
				<fieldset>
  				<legend>Step 1: Tell us about yourself</legend>
					<div class="col-lg-6">
						<%=f.text_field :first_name, class: "form-control", placeholder: "First Name"%>
					</div>
					<div class="col-lg-6">
						<%=f.text_field :last_name, class: "form-control", placeholder: "Last Name"%>
					</div>
					<div class="col-lg-6">
						<%=f.text_field :email, class: "form-control", placeholder: "Email"%>
					</div>
					<div class="col-lg-6">
						<%=f.text_field :zip_code, class: "form-control", placeholder: "Postal Code (Zip Code)"%>
					</div>
				</fieldset>
				<fieldset>
  				<legend>Step 2: Tell us what you're sharing</legend>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="candidate_name" placeholder="Candidate Name">
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="statement_date" placeholder="Date">
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="event_title" placeholder="Event Title">
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="event_location" placeholder="Event Location">
					</div>
					<div class="col-lg-12">
						<textarea class="form-control" rows="4" id="notes" placeholder="Notes"></textarea>
					</div>
				</fieldset>
				<em class="col-lg-offset-1 col-lg-11">Want to remain anonymous? That's cool. All fields are optional.</em>
				<fieldset>
  				<legend>Step 3: Select the video file</legend>
					<div class="col-lg-12">
						<%= f.file_field :s, accept: "video/*", class: "col-lg-5"%>
					</div>
				</fieldset>
			</div>
	    <div class="modal-footer">
				<%= f.submit 'Upload', class: "col-lg-offset-4 col-lg-4 btn btn-primary" %>
	    </div>
	  </div>
	</div>
</div>
<% end %>				
