<style>fieldset { margin-top: 30px }</style>
<%= form_for @attendee, html: { class: "col-lg-12 form-horizontal" } do |f| %>
  <%= f.hidden_field :event_day_id, id: 'event_day_id' %>
  <%= f.hidden_field :user_id, value: @current_user.id %>
<div class="modal fade col-lg-12" id="<%= modal_id %>" tabindex="-1" role="dialog" 
  aria-labelledby="upload_title" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content col-lg-12">
      <div class="modal-header">
        <button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="upload_title"><%= modal_title %></h2>
			</div>
      <div class="modal-body col-lg-12">
        <p>Thank you for helping us ask the question! Please 
          provide the following information, and we'll be in touch.</p> 
			<%= f.fields_for :user, @attendee.user do |u| %>
				<fieldset class="col-lg-12">
					<div class="col-lg-6">
						<%=u.text_field :first_name, class: "form-control", placeholder: "First Name"%>
					</div>
					<div class="col-lg-6">
						<%=u.text_field :last_name, class: "form-control", placeholder: "Last Name"%>
					</div>
					<div class="col-lg-6">
						<%=u.text_field :mobile_phone, class: "form-control", placeholder: "Mobile Phone"%>
					</div>
					<div class="col-lg-6">
						<%=u.text_field :postal_code, class: "form-control", placeholder: "ZIP Code"%>
					</div>
					<div class="col-lg-12">
						<%=u.text_field :email, class: "form-control", placeholder: "Email"%>
					</div>
				</fieldset>
			<% end %>
        <p class="modal-body col-lg-12"><em>Note: Be sure to register with the event organizers if necessary</em>.</p> 
        <div class="col-lg-12">
  				<%=f.text_area :notes, 
            class: "form-control", 
            placeholder: "Questions? Ask us here." %>
  			</div>
      </div>
	    <div class="modal-footer col-lg-12">
				<%= f.submit "I'll be there!", class: "col-lg-offset-4 col-lg-4 btn btn-primary" %>
	    </div>
	  </div>
	</div>
</div>
<% end %>