<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="well bs-component col-lg-6">
  <p>
    <strong>RepsWithUs ID:</strong>
    <%= @event.rwu_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= @event.venue_name %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= @event.public %>
  </p>
  
  <%= render 'container', type: Candidate, 
                          :symbol => :candidates, 
                          title: 'Candidates', 
                          :method => :person_name, 
                          parent: @event, 
                          children: @event.candidates %>
                          
  <%= render 'container', type: Person, 
                          :symbol => :people, 
                          title: 'Speakers', 
                          :method => :full_name, 
                          parent: @event, 
                          children: @event.people %>
                          
  <ul class="pager">
  	<li class="next"><%= link_to 'Edit →', edit_event_path(@event) %></li>
  	<li class="previous"><%= link_to '← Back', events_path %></li>
  </ul>
</div>