<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="well bs-component col-lg-12">
  <h1><%= @event.title %></h1>
  <h4><%= @event.description %></h4>
  <h3><%= @event.venue_name %></h3>
  <h5>Public? <%= @event.public ? 'Yes' : 'No' %></h5>
  <div class="col-lg-6">
    <%= render 'container', type: Candidate, 
                            :symbol => :candidates, 
                            title: 'Candidates', 
                            :method => :person_name, 
                            parent: @event, 
                            children: @event.candidates %>
  </div>
  <div class="col-lg-6">                        
    <%= render 'container', type: Person, 
                            :symbol => :people, 
                            title: 'Speakers', 
                            :method => :full_name, 
                            parent: @event, 
                            children: @event.people %>
  </div>
  <ul class="pager col-lg-12">
  	<% if @current_user.admin? %><li class="next"><%= link_to 'Edit →', edit_event_path(@event) %></li><% end %>
  	<li class="previous"><%= link_to '← Back', 'javascript:window.history.back()' %></li>
  </ul>
</div>
<div class="col-lg-12">
  <h1 class="col-lg-12">Answers from this Event</h1>
  <%= render 'statements/videos' %>
</div>                    
