<p id="notice"><%= notice %></p>

<p>
  <strong>Rwu:</strong>
  <%= @election.rwu_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @election.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @election.state %>
</p>

<p>
  <strong>Office type:</strong>
  <%= @election.office_type_id %>
</p>

<p>
  <strong>Special:</strong>
  <%= @election.special %>
</p>

<p>
  <strong>Election year:</strong>
  <%= @election.election_year %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
