<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="well bs-component col-lg-12">
  <div class="page-header">
    <h1><%= @candidate.person_name %></h1>
    <h4>
      Candidate for <%= @candidate.office_id %> <%= @candidate.position %>
    </h4>
  </div>
  <ul class="pager">
    <% if @current_user.admin? %><li class="next"><%= link_to 'Edit →', edit_candidate_path(@candidate) %></li><% end %>
  	<li class="previous"><%= link_to '← Back', 'javascript:window.history.back()' %></li>
  </ul>
</div>