<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="well bs-component col-lg-6">
  <p>
    <strong>RepsWithUs ID:</strong>
    <%= @candidate.rwu_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= @candidate.person_name %>
  </p>

  <p>
    <strong>Office:</strong>
    <%= @candidate.office_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= @candidate.position %>
  </p>

  <p>
    <strong>District:</strong>
    <%= @candidate.district %>
  </p>
  <ul class="pager">
  	<li class="next"><%= link_to 'Edit →', edit_candidate_path(@candidate) %></li>
  	<li class="previous"><%= link_to '← Back', candidates_path %></li>
  </ul>
</div>