<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<div class="well bs-component col-lg-12">
  <div class="col-lg-3">
    <%= image_tag @candidate.person_image_url, { width: '300px' } %>
  </div>
  <div class="col-lg-5">
    <h1><%= @candidate.person_name %></h1>
    <h4>
      <%= @candidate.person_title %>
    </h4>
    <h4>
      <%= @candidate.party %> 
    </h4>
    <h4>
      <%= @candidate.official_url ? link_to('Official Web Site', @candidate.official_url) : '' %>
    </h4>
    <p><%= raw(sanitize(@candidate.description, tags: SUPPORTED_HTML_TAGS)) %></p>
  </div>
  <div class="col-lg-4">
    <%= render 'events', :panel_title => 'Upcoming Events', :events => @candidate.upcoming_events %>
  </div>
  <ul class="pager col-lg-12">
    <% if @current_user.admin? %><li class="next"><%= link_to 'Edit →', edit_candidate_path(@candidate) %></li><% end %>
  </ul>
</div>

<% if @videos.size > 0 %>
  <div class="col-lg-12">
    <h1 class="col-lg-12">Answers from <%= @candidate.person_name %></h1>
    <%= render 'statements/videos' %>
  </div>
<% end %>