<%= form_for(@campaign, html: { class: "form-horizontal" }) do |f| %>
  <% if @campaign.errors.any? %>
		<div class="alert alert-dismissible alert-danger col-lg-12">
	  	<button type="button" class="close" data-dismiss="alert">×</button>
      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well bs-component col-lg-6">
	  <fieldset>
	    <legend>Campaign</legend>			
	    <div class="form-group">
        <label class="col-lg-3 control-label">Sync ID</label>
        <div class="col-lg-8">
          <%= f.number_field :rwu_id, class: "form-control", disabled: true %>
        </div>
      </div>
	    <div class="form-group">
        <%= f.label :election_id, class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
    		<%= f.select :election_id, 
    				content_tag(:option, '-- No Election --', 
    										:value => nil) + options_from_collection_for_select(Election.all, 
    																																			:id, 
    																																			:name, 
    																																			@campaign.election_id),
    																																			{}, { class: "form-control" } %>
        </div>
      </div>
	    <div class="form-group">
        <%= f.label :candidate_id, class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
    		<%= f.select :candidate_id, 
    				content_tag(:option, '-- No Candidate --', 
    										:value => nil) + options_from_collection_for_select(Candidate.all, 
    																																			:id, 
    																																			:person_name, 
    																																			@campaign.candidate_id),
    																																			{}, { class: "form-control" } %>
        </div>
      </div>
	    <div class="form-group">
        <%= f.label :official_url, class: "col-lg-3 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :official_url, class: "form-control" %>
        </div>
      </div>
	    <div class="form-group">
	      <div class="col-lg-8 col-lg-offset-3">
	  	  	<%= link_to 'Cancel', campaigns_path, class: "btn btn-default" %>
		  	  <%= f.submit 'Save', class: "btn btn-primary" %>
		    </div>
			</div>
    </fieldset>
  </div>
<% end %>
