<% if notice %>
	<div class="alert alert-dismissible alert-success col-lg-12">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<%= notice %>
	</div>
<% end %>

<p>
  <strong>RepsWithUs ID:</strong>
  <%= @campaign.rwu_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @campaign.candidate_id %>
</p>

<p>
  <strong>Election:</strong>
  <%= @campaign.election_id %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
