<p id="notice"><%= notice %></p>

<p>
  <strong>Rwu:</strong>
  <%= @campaign.rwu_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @campaign.candidate_id %>
</p>

<p>
  <strong>Election:</strong>
  <%= @campaign.election_id %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
