<!DOCTYPE html>
<html>
	<head>
	  <title>Questionr</title>
    <%= favicon_link_tag 'favicon.ico' %>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.1/moment.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css"/>		
	  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"/>
	  <%= csrf_meta_tags %>
		
    <style>
      a { color: #f39c12 }
      a:hover { color: #f39c12 !important }
      #logo { width: 150px }
      #footer-content { color: #fff; background-color: #134061; }
      div.checkbox-left { width: 70px }
      .container-fluid { max-width: 1340px !important; }
      .alert { margin-top: 21px }
      div.panel-heading { background-color: #134061 !important }
		</style>
    
    <script type="text/javascript">
      (function() {
        if (typeof window.janrain !== 'object') window.janrain = {};
        if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

        janrain.settings.tokenUrl = '<%= Rails.application.config.janrain_token_url %>';

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
          window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
          e.src = 'https://rpxnow.com/js/lib/questionr/engage.js';
        } else {
          e.src = 'http://widget-cdn.rpxnow.com/js/lib/questionr/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
      })();
    </script>
	</head>
	<body>
		<nav class="navbar navbar-default" style="background-color: #134061; margin: 0 !important; border-radius: 0 !important">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to image_tag('questionr-logo.png', { id: 'logo' }), '/', class: 'navbar-brand' %>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
		      <ul class="nav navbar-nav">
		        <li<%= URI(request.url).path.starts_with?('/events') ? ' class=active' : '' %>><%= link_to 'Events', :events %></li>
		        <li<%= URI(request.url).path.starts_with?('/candidates') ? ' class=active' : '' %>><%= link_to 'Candidates', :candidates %></li>
		        <li<%= URI(request.url).path.starts_with?('/statements') ? ' class=active' : '' %>><%= link_to 'Answers', :controller => :statements, :action => :browse %></li>
		      </ul>
        <% if @current_user.admin? %>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li style="padding-left: 10px">Manage Campaigns</li>
                <li class="divider"></li>
		            <li><%=link_to 'People', :people%></li>
		            <li><%=link_to 'Candidates', :candidates%></li>
		            <li><%=link_to 'Statements (Videos)', :statements%></li>
		            <li><%=link_to 'Campaigns', :campaigns%></li>
		            <li><%=link_to 'Elections', :elections%></li>
                <li class="divider"></li>
		            <li style="padding-left: 10px">Manage Events</li>
                <li class="divider"></li>
		            <li><%=link_to 'Venues', :venues%></li>
		            <li><%=link_to 'Events', :events%></li>
                <li><%=link_to 'Event Days', :event_days%></li>
		            <li><%=link_to 'Attendees', :attendees%></li>
                <li class="divider"></li>
		            <li><%=link_to 'Users', :users%></li>
								<li class="divider"></li>
		            <li><%=link_to 'Background Jobs', '/resque_web', target: '_blank'%></li>								
		          </ul>
		        </li>
		      </ul>
		    <% end %>
        </div>
		  </div>
		</nav>
		<div id="content" class="container-fluid">
			<%= yield %>
		</div>
    <nav class="navbar navbar-inverse footer" style="background-color: #134061; margin-top: 20px">
      <div stlye="text-align: center; color: #fff" class="container-fluid">
        <div class="col-lg-offset-3 col-lg-9"> 
          <h2 class="col-lg-12"><%= link_to image_tag('questionr-logo.png', { id: 'logo' }),
            '/', class: 'navbar-brand' %></h2>
        </div>
        <div id="footer-content" class="col-lg-offset-3 col-lg-5"> 
          <h3 class="col-lg-12">Questionr is a project of the <%=link_to 'NH Rebellion',
            'http://nhrebellion.org', target: '_blank' %></h3>
          <h4 class="col-lg-12" style="color: #fff">We're going to make systemic political corruption the 
            central issue of the 2016 presidential primary by asking every candidate, &ldquo;What specific 
            reforms will you advance to end the corrupting influence of money in politics?&rdquo;</h4>
          <h5 class="col-lg-12">&copy;2015 <%=link_to 'NH Rebellion',
            'http://nhrebellion.org', target: '_blank' %>. Some rights reserved.</h5>          
          <h5 class="col-lg-12"><%= link_to image_tag("https://i.creativecommons.org/l/by/3.0/80x15.png"), 
            "http://creativecommons.org/licenses/by-sa/4.0/", target: '_blank' %></h5>
        </div>
        <div class="col-lg-3">
          <ul class="list-group">
            <li class="list-group-item"><%= link_to 'Contact Us', 'mailto:questionr@nhrebellion.org?subject=A%20Question%20about%20Questionr.us' %></li>
            <li class="list-group-item"><%= link_to 'Send Us a Tip', '#', 'data-toggle' => 'modal', 'data-target' => '#tip_modal'%></li>
            <li class="list-group-item"><%= link_to 'Privacy', 'http://www.nhrebellion.org/privacy_policy', target: '_blank' %></li>
            <li class="list-group-item"><%= link_to 'Press/Media Inquiries', 'mailto:media@nhrebellion.org?subject=Questionr%20Media%20Inquiry' %></li>
            <li class="list-group-item">Attributions</li>
          </ul>
        </div>
      </div>
    </nav>
    <%= render 'statements/modal', 
        modal_id: "upload_modal", 
        modal_title: "Share Video or Audio", 
        modal_description: "By sharing your content with us, you grant us permission to share it with others.", 
        include_candidate_and_event_fields: true,
        steps: {
          1 => "Step 1: Tell us about yourself",
          2 => "Step 2: Tell us what you're sharing",
          3 => "Step 3: Select the video (or audio) file" } %>
    <%= render 'statements/modal', 
        modal_id: "tip_modal", 
        modal_title: "Tip Line",
        modal_description: "By sharing this tip with us, you grant us permission to share it with others.",
        include_candidate_and_event_fields: false,
        steps: {
          1 => "Step 1: Tell us about yourself",
          2 => "Step 2: Tell us the scoop" } %>
	</body>
</html>
